.main-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.calc-form {
  background: var(--main-color-lighter);
  height: 530px;
  width: 400px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color-lighter);
  gap: 20px;
  color: var(--text-primary);
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-item input {
  background: inherit;
  border: 2px solid var(--btc-color);
  border-radius: 20px;
  padding: 10px;
  padding-left: 15px;
  color: var(--text-primary);
  font-size: 16px;
}

.form-item label {
  font-weight: 500;
}

.submit-btn {
  background: var(--main-color-darker);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background: var(--btc-color);
}

.form-section {
  display: flex;
  align-items: center;
  gap: 200px;
}

.form-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.images-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}