:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;
  --text-primary: #440f04;
  --text-secondary: #b8b8b8;
  --text-light: #fde9c8;
  --accent-primary: #64b5f6;
  --card-bg: #2d2d2d;
  --shadow: rgba(0, 0, 0, 0.3);
  --shadow-hover: rgba(0, 0, 0, 0.4);
  --border-color: #404040;

  --main-color-darker: #f1760f;
  --main-color-light: #f9b450;
  --main-color-lighter: #fde9c8;

  --btc-color: #f7931a;
  --eth-color: #627EEA;
  --solana-color-start: #D426FC;
  --solana-color-end: #13EAAB;
}